{
    "name": "{{ bigip1_hostname}}-{{version}}.example1.com",
    "description": "",
    "enabled": true,
    "instance_id": "",
    "variables": "{\"VirtualMachine_Network0_Address\": \"{{bigip1_mgmtIP}}\", \"VirtualMachine_Network0_Hostname\": \"{{ bigip1_hostname}}.example1.com\", \"ha_status\": \"{{ bigip1_ha_status }}\", \"ha_peer_ip\": \"{{ bigip1_ha_peer_ip }}\", \"VirtualMachine_Network2_Address\": \"{{ bigip1_extIP }}\", \"externalFloat\": \"{{ bigip1_extFloatIP }}\", \"VirtualMachine_Network1_Address\": \"{{ bigip1_redIP }}\", \"internalFloat\": \"{{ bigip1_redFloatIP }}\", \"VirtualMachine_Network3_Address\": \"{{ bigip1_haIP }}\"}"
}