{
    "name": "{{ bigip2_hostname}}-{{version}}.example1.com",
    "description": "",
    "enabled": true,
    "instance_id": "",
    "variables": "{\"VirtualMachine_Network0_Address\": \"{{bigip2_mgmtIP}}\", \"VirtualMachine_Network0_Hostname\": \"{{ bigip2_hostname}}.example1.com\", \"ha_status\": \"{{ bigip2_ha_status }}\", \"ha_peer_ip\": \"{{ bigip2_ha_peer_ip }}\", \"VirtualMachine_Network2_Address\": \"{{ bigip2_extIP }}\", \"externalFloat\": \"{{ bigip2_extFloatIP }}\", \"VirtualMachine_Network1_Address\": \"{{ bigip2_redIP }}\", \"internalFloat\": \"{{ bigip2_redFloatIP }}\", \"VirtualMachine_Network3_Address\": \"{{ bigip2_haIP }}\"}"
}